body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f8f9fa;
}

.hero{
    background:linear-gradient(135deg,#28a745,#20c997);
    color:white;
    padding:100px 0;
}

.hero h1{
    font-size:3rem;
    font-weight:bold;
}

.hero p{
    font-size:1.2rem;
    margin:20px 0;
}

.product-card{
    border:none;
    border-radius:15px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    height:220px;
    object-fit:contain;
    padding:20px;
}

.hero-image{

    max-width:400px;

}

.category-box{

    background:white;

    border-radius:15px;

    padding:25px;

    font-size:40px;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.category-box:hover{

    background:#198754;

    color:white;

    transform:translateY(-8px);

}

.category-box h6{

    margin-top:10px;

}

.input-group{

    border-radius:50px;

    overflow:hidden;

}

.btn{

    border-radius:10px;

}

section{

    padding-top:60px;

    padding-bottom:60px;

}

.team-card{
    border-radius:18px;
    transition:.3s;
    overflow:hidden;
}

.team-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15)!important;
}

.team-photo{
    width:170px;
    height:170px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #198754;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.team-card h5{
    min-height:55px;
    font-size:18px;
}

.team-card .badge{
    font-size:.85rem;
    padding:8px 16px;
    border-radius:20px;
}